.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/*  PAGE HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

} 

.page-navigation {
  display: flex;
  align-items: center; 
}

.logotype {
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
} 


.list {
  list-style-type: none;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.address-list {
  font-style: normal;
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
  color: #404bbf;
}

.number-mail-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.number-mail {
  display: flex;
  gap: 40px;
}

.number-mail-link:hover,
.number-mail-link:focus {
  color: #404bbf;
  color: #404bbf;
}

.span-class {
  color: #2e2f42;
}

/* section 1 - (HERO) */
.first-section {
  background-color: #2e2f42;
}

.caption-one {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button-one {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button-one:hover,
.button-one:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/* section 2 */
.caption-third {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-second {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* section 3 */
.third-section {
  background-color: #f4f4fd;
}

.our-team-pics {
  background-color: #ffffff;
}
/* (h2) */
.our-team-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* (h3) */
.caption-thethird {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* ("p" for each h3) */
.paragraph-third {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 4 */
/* (h2) */
.section-four-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.bank-app-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-four-caption-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-four-caption-3-1 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PAGE FOOTER */
.page-footer {
  background-color: #2e2f42;
}

.span-class-footer {
  color: #f4f4fd;
}

.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
